* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0218;
  font-family: Arial;
  color: white;
}

.app {
  min-height: 100vh;
  background:
    radial-gradient(circle at top, #4d148c, #0b0218 60%);
  padding: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar h1 {
  color: #63cfff;
  font-size: 52px;
  text-shadow: 0 0 20px #00bbff;
}

.bell {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.profileCard {
  margin-top: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 0 0 30px #7b2cff;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #ff00ff,
    #00d9ff
  );
  box-shadow: 0 0 40px #ff00ff;
}

.profileInfo h2 {
  font-size: 60px;
}

.rank {
  color: #ff00ff;
  margin-top: 10px;
  font-size: 34px;
}

.xp {
  margin-top: 20px;
  font-size: 28px;
}

.xpBar {
  margin-top: 20px;
  width: 100%;
  height: 25px;
  border-radius: 30px;
  background: rgba(255,255,255,0.1);
  overflow: hidden;
}

.xpFill {
  width: 65%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #ff00ff,
    #00d9ff
  );
}

.questionCard {
  margin-top: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 30px;
  padding: 30px;
}

.questionCard h3 {
  color: orange;
  font-size: 36px;
}

.questionCard h2 {
  margin-top: 25px;
  font-size: 58px;
  line-height: 1.1;
}

.answer {
  width: 100%;
  margin-top: 25px;
  border: none;
  border-radius: 25px;
  padding: 30px;
  background: rgba(255,255,255,0.06);
  color: white;
  font-size: 42px;
}

.active {
  background: linear-gradient(
    90deg,
    #ff00ff,
    #c95cff
  );

  box-shadow: 0 0 30px #ff00ff;
}

.bottomNav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItem {
  font-size: 40px;
  opacity: 0.7;
}

.activeNav {
  color: #ff00ff;
}

.scanButton {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #ff00ff,
    #00d9ff
  );

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;

  margin-top: -50px;

  box-shadow: 0 0 40px #ff00ff;
}

.loginPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background:
    radial-gradient(circle at top, #4d148c, #0b0218 60%);
}

.loginCard {
  width: 420px;
  padding: 40px;
  border-radius: 30px;
  background: rgba(255,255,255,0.05);

  box-shadow: 0 0 40px #7b2cff;
}

.loginCard h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #ff00ff;
}

.loginCard input {
  width: 100%;
  margin-top: 20px;
  padding: 18px;
  border-radius: 20px;
  border: 2px solid #00bbff;
  background: black;
  color: white;
  font-size: 20px;
}

.loginCard button {
  width: 100%;
  margin-top: 20px;
  padding: 18px;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  color: white;
  background: linear-gradient(
    90deg,
    #ff00ff,
    #00d9ff
  );
}

.error {
  margin-top: 20px;
  color: red;
  text-align: center;
}